$primary-10:#001E2C;
$primary-20:#003548;
$primary-30:#004D68;
$primary-40:#285C6E;
$primary-50:#447E9B;
$primary-60:#5F98B6;
$primary-70:#7AB2D1;
$primary-80:#95CEEE;
$primary-85:#A0DDFF;
$primary-90:#B0E0FF;
$primary-95:#CCEBFF;
$primary-99:#E1F4FF;
$primary-100:#F5FBFF;

$secondary:#FFD701;

$neutral-0:#FFFFFF;
$neutral-10:#FAFAFA;
$neutral-20:#F5F5F5;
$neutral-30:#E0E0E0;
$neutral-40:#BDBDBD;
$neutral-50:#9E9E9E;
$neutral-60:#757575;
$neutral-70:#616161;
$neutral-80:#424242;
$neutral-90:#212121;
$neutral-100:#000000;

$danger-100:#ffdddd;
$danger-300:#ff9494;
$danger-600:#f00000;
$danger-800:#ae0606;
$success-100:#d5f6df;
$success-300:#7adba4;
$success-600:#138850;
$success-800:#0e5735;

:root{
  --header-backgroundColor:#{$primary-100};
  --main-backgroundColor:#{$primary-99};
  --footer-backgroundColor:#{$primary-20};
  --footer-copyright-color:#{$primary-80};
  --footer-color:#{$primary-100};
  --aside-backgroundColor:#{$primary-95};
  --aside-underlineBaseColor:#{$primary-80};
  --aside-signUpBackgroundColor:#{$primary-95};
  --aside-signUpShadowColor:#00354826;
  --aside-signUpColor:#{$primary-100};

  --text-color:#{$primary-20};

  --home-startCTA-backgroundColor:#{$secondary};

  --home-carousel-arrow-color:#0A4368;
  --home-carousel-arrow-backgroundColor:#{$primary-90};
  --home-carousel-arrow-hover-color:#{$primary-100};
  --home-carousel-arrow-hover-backgroundColor:#0A4368;
  --home-carousel-bullet-color:#{$primary-90};
  --home-carousel-bullet-active-color:#{$primary-20};

  --home-carousel-card-active-backgroundColor:#{$primary-90};
  --home-carousel-card-active-blur:0px;
  --home-carousel-card-backgroundColor:radial-gradient(circle closest-side at center,#E1F4FF,#B0E0FF);
  --home-carousel-card-shadow-color:0px 4px 8px 2px #000D1126;
  --home-carousel-card-opacity:60%;

  --home-aboutUs-color:#003853;
  --home-aboutUs-backgroundColor:#{$primary-85};
  --home-faqs-backgroundColor:#{$primary-40};
  --home-faqs-color:#{$primary-100};

  --switchThemeColor-backgroundColor:#{$primary-70};
  --switchThemeColor-iconBackgroundColor:#{$primary-100};

  --button-primary-backgroundColor:#{$primary-20};
  --button-primary-color:#{$primary-100};

  --menu-mask-backgroundColor:#5E5E5E80;

  --404-backgroundColor:#CEECFF;
  --404-color:#003853;
}

.dark{
  --header-backgroundColor:#0A4368;
  --main-backgroundColor:#0A4368;
  --footer-backgroundColor:#{$primary-10};
  --footer-copyright-color:#{$primary-80};
  --footer-color:#CCEBFFCC;

  --aside-backgroundColor:#003853;
  --aside-underlineBaseColor:#{$primary-50};
  --aside-signUpBackgroundColor:#{$primary-30};
  --aside-signUpShadowColor:#000D1126;
  --aside-signUpColor:#0A4368CC;

  --text-color:#B0E0FFCC;

  --home-startCTA-backgroundColor:#FFD701CC;

  --home-carousel-arrow-color:#F5FBFF99;
  --home-carousel-arrow-backgroundColor:#{$primary-50};
  --home-carousel-arrow-hover-color:#004D68E5;
  --home-carousel-arrow-hover-backgroundColor:#95CEEEE5;
  --home-carousel-bullet-color:#7AB2D166;
  --home-carousel-bullet-active-color:#B0E0FFCC;

  --home-carousel-card-active-backgroundColor:radial-gradient(circle farthest-corner at top,#7AB2D166,#7AB2D129);

  --home-carousel-card-active-blur:30px;

  --home-carousel-card-backgroundColor:radial-gradient(circle farthest-corner at top,#7AB2D112,#7AB2D159);

  --home-carousel-card-shadow-color:0 4px 12px 2px #000D1126;
  
  --home-carousel-card-opacity:40%;

  --home-aboutUs-color:#003853E5;
  --home-aboutUs-backgroundColor:#003853;
  --home-faqs-color:#CCEBFFCC;

  --home-faqs-backgroundColor:#062940;

  --switchThemeColor-backgroundColor:#7AB2D1CC;
  --switchThemeColor-iconBackgroundColor:#0A4368CC;

  --button-primary-backgroundColor:#{$primary-90};
  --button-primary-color:#0a4268CC;

  --menu-mask-backgroundColor:#616161B2;

  --404-backgroundColor:#163D55;
  --404-color:#B0E0FFCC;
}

@media (prefers-color-scheme: dark){
  .dark{
    --header-backgroundColor:#0A4368;
    --main-backgroundColor:#0A4368;
    --footer-backgroundColor:#{$primary-10};
    --footer-copyright-color:#{$primary-80};
    --footer-color:#CCEBFFCC;
  
    --aside-backgroundColor:#003853;
    --aside-underlineBaseColor:#{$primary-50};
    --aside-signUpBackgroundColor:#{$primary-30};
    --aside-signUpShadowColor:#000D1126;
    --aside-signUpColor:#0A4368CC;
  
    --text-color:#B0E0FFCC;
  
    --home-startCTA-backgroundColor:#FFD701CC;
    --home-card-backgroundColor:linear-gradient(#7BA8C280,#7BA8C233);
  
    --home-carousel-arrow-color:#F5FBFF99;
    --home-carousel-arrow-backgroundColor:#{$primary-50};
    --home-carousel-arrow-hover-color:#004D68E5;
    --home-carousel-arrow-hover-backgroundColor:#95CEEEE5;
    --home-carousel-bullet-color:#{$primary-50};
    --home-carousel-bullet-active-color:#B0E0FFCC;

    --home-carousel-card-active-backgroundColor:radial-gradient(circle farthest-corner at top,#7AB2D166,#7AB2D129);
    
    --home-carousel-card-active-blur:30px
    
    --home-carousel-card-backgroundColor:radial-gradient(circle farthest-corner at top,#7AB2D112,#7AB2D159);
    
    --home-carousel-card-shadow-color:0 4px 12px 2px #000D1126;
    
    --home-carousel-card-opacity:40%;
  
    --home-aboutUs-color:#003853E5;
    --home-aboutUs-backgroundColor:#003853;
    --home-faqs-color:#CCEBFFCC;

    --home-faqs-backgroundColor:#062940;
  
    --switchThemeColor-backgroundColor:#7AB2D1CC;
    --switchThemeColor-iconBackgroundColor:#0A4368CC;
  
    --button-primary-backgroundColor:#{$primary-90};
    --button-primary-color:#0a4268CC;

    --menu-mask-backgroundColor:#616161B2;
    
    --404-backgroundColor:#163D55;
    --404-color:#B0E0FFCC;
  } 
} 