*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
  font-family: "Noto Sans", sans-serif;
}

html{
  scrollbar-width:none;
}

.noscroll{
  overflow:hidden;
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
}

img{
  display:block;
  width:100%;
}