@media (prefers-color-scheme: light){

} 

@media (prefers-color-scheme: dark){

} 

$primary-10:#001E2C;
$primary-20:#003548;
$primary-30:#004D68;
$primary-40:#285C6E;
$primary-50:#447E9B;
$primary-60:#5F98B6;
$primary-70:#7AB2D1;
$primary-80:#95CEEE;
$primary-85:#A0DDFF;
$primary-90:#B0E0FF;
$primary-95:#CCEBFF;
$primary-99:#E1F4FF;
$primary-100:#F5FBFF;

$secondary:#FFD701;

$neutral-0:#FFFFFF;
$neutral-10:#FAFAFA;
$neutral-20:#F5F5F5;
$neutral-30:#E0E0E0;
$neutral-40:#BDBDBD;
$neutral-50:#9E9E9E;
$neutral-60:#757575;
$neutral-70:#616161;
$neutral-80:#424242;
$neutral-90:#212121;
$neutral-100:#000000;

$danger-100:#ffdddd;
$danger-300:#ff9494;
$danger-600:#f00000;
$danger-800:#ae0606;
$success-100:#d5f6df;
$success-300:#7adba4;
$success-600:#138850;
$success-800:#0e5735;
